<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Document</title>
<!-- 引入樣式 -->
<link href="../../plugins/element-ui/index.css" rel="stylesheet" />
<link href="../../styles/common.css" rel="stylesheet" />
<link href="../../styles/page.css" rel="stylesheet" />
</head>
<body>
	<div class="dashboard-container" id="category-app">
		<div class="container">
			<div class="tableBar" style="display: inline-block">
				<el-button @click="addClass('class')" class="continue"
					type="primary"> + 新增菜品分類 </el-button>
				<el-button @click="addClass('meal')" type="primary"> +
				新增套餐分類 </el-button>
			</div>
			<el-table :data="tableData" class="tableBox" stripe> <el-table-column
				label="分類名稱" prop="name"></el-table-column> <el-table-column
				label="分類類型" prop="type">
			<template slot-scope="scope">
				<span>{{scope.row.type == '1' ? '菜品分類':'套餐分類'}}</span>
			</template>
			</el-table-column> <el-table-column label="操作時間" prop="updatingTime">
			<template slot-scope="scope">{{scope.row.updatingTime}}</template>
			</el-table-column> <el-table-column label="排序" prop="sort"></el-table-column> <el-table-column
				align="center" label="操作" width="160">
			<template slot-scope="scope">
				<el-button @click="editHandle(scope.row)" class="blueBug" size="small"
					type="text">修改</el-button>
				<el-button @click="deleteHandle(scope.row.id)" class="delBut non" size="small"
					type="text">刪除</el-button>
			</template>
			</el-table-column> </el-table>
			<el-pagination :page-size="pageSize" :page-sizes="[7, 8, 15]"
				:total="counts"
				@current-change="handleCurrentChange" @size-change="handleSizeChange"
				class="pageList"
				layout="total, sizes, prev, pager, next, jumper"></el-pagination>
		</div>
		<el-dialog :before-close="handleClose"
			:title="classData.title" :visible.sync="classData.dialogVisible"
			width="30%"> <el-form
			class="demo-form-inline" label-width="100px"> <el-form-item
			label="分類名稱："> <el-input maxlength="14"
			placeholder="請輸入分類名稱" v-model="classData.name"></el-input> </el-form-item> <el-form-item
			label="排序："> <el-input placeholder="請輸入排序"
			type="number" v-model="classData.sort"></el-input> </el-form-item> </el-form> <span class="dialog-footer"
			slot="footer"> <el-button @click="classData.dialogVisible = false"
				size="medium">取消</el-button> <el-button
				@click="submitForm()" size="medium" type="primary">確定</el-button> <el-button
				@click="submitForm('go')" class="continue" size="medium"
				type="primary" v-if="action != 'edit'">保存並繼續添加</el-button>
		</span> </el-dialog>
	</div>
	<!-- 開發環境版本，包含了有幫助的命令行警告 -->
	<script src="../../plugins/vue/vue.js"></script>
	<!-- 引入組件庫 -->
	<script src="../../plugins/element-ui/index.js"></script>
	<!-- 引入axios -->
	<script src="../../plugins/axios/axios.min.js"></script>
	<script src="../../js/request.js"></script>
	<script src="../../api/category.js"></script>
	<script>
    new Vue({
        el: '#category-app',
        data() {
            return {
                action: '',
                counts: 0,
                pageNum: 1,
                pageSize: 7,
                tableData: [],
                type: '',
                classData: {
                    'title': '添加菜品分類',
                    'dialogVisible': false,
                    'id': '',
                    'name': '',
                    sort: ''
                }
            }
        },
        computed: {},
        created() {
            this.init()
        },
        mounted() {
        },
        methods: {
            async init() {
                await getCategoryPage({'pageNum': this.pageNum, 'pageSize': this.pageSize}).then(res => {
                    if (res.code === 'SUCCESS') {
                        this.tableData = res.data.records
                        this.counts = Number(res.data.total)
                    } else {
                        this.$message.error(res.msg || '操作失敗')
                    }
                }).catch(err => {
                    this.$message.error('請求出錯：' + err)
                })
            },
            handleQuery() {
                this.pageNum = 1;
                this.init();
            },
            //添加
            addClass(st) {
                if (st === 'class') {
                    this.classData.title = '新增菜品分類'
                    this.type = '1'
                } else {
                    this.classData.title = '新增套餐分類'
                    this.type = '2'
                }
                this.action = 'add'
                this.classData.name = ''
                this.classData.sort = ''
                this.classData.dialogVisible = true
            },
            editHandle(dat) {
                this.classData.title = '修改分類'
                this.action = 'edit'
                this.classData.name = dat.name
                this.classData.sort = dat.sort
                this.classData.id = dat.id
                this.classData.dialogVisible = true
            },
            //關閉彈窗
            handleClose(st) {
                this.classData.dialogVisible = false
            },
            //刪除
            deleteHandle(id) {
                this.$confirm('即將刪除該條數據, 是否繼續?', '提示', {
                    'confirmButtonText': '確定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {
                    deleteCategory(id).then(res => {
                        if (res.code === 'SUCCESS') {
                            this.$message.success(res.data.toString())
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg || '操作失敗')
                        }
                    }).catch(err => {
                        this.$message.error('請求錯誤：' + err)
                    })
                })
            },
            //數據提交
            submitForm(st) {
                const classData = this.classData
                const valid = (classData.name === 0 || classData.name) && (classData.sort === 0 || classData.sort)
                if (this.action === 'add') {
                    if (valid) {
                        const reg = /^\d+$/
                        if (reg.test(classData.sort)) {
                            addCategory({'name': classData.name, 'type': this.type, sort: classData.sort}).then(res => {
                                console.log(res)
                                if (res.code === 'SUCCESS') {
                                    this.$message.success(res.data.toString())
                                    if (!st) {
                                        this.classData.dialogVisible = false
                                    } else {
                                        this.classData.name = ''
                                        this.classData.sort = ''
                                    }
                                    this.handleQuery()
                                } else {
                                    this.$message.error(res.msg || '操作失敗')
                                }
                            }).catch(err => {
                                this.$message.error('請求出錯：' + err)
                            })
                        } else {
                            this.$message.error('排序只能輸入數字類型')
                        }
                    } else {
                        this.$message.error('請輸入分類名稱或排序')
                    }
                } else if (valid) {
                    const reg = /^\d+$/
                    if (reg.test(this.classData.sort)) {
                        editCategory({
                            'id': this.classData.id,
                            'name': this.classData.name,
                            sort: this.classData.sort
                        }).then(res => {
                            if (res.code === 'SUCCESS') {
                                this.$message.success(res.data.toString())
                                this.classData.dialogVisible = false
                                this.handleQuery()
                            } else {
                                this.$message.error(res.msg || '操作失敗')
                            }
                        }).catch(err => {
                            this.$message.error('請求出錯：' + err)
                        })
                    } else {
                        this.$message.error('排序只能輸入數字類型')
                    }
                } else {
                    this.$message.error('請輸入分類名稱或排序')
                }
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.pageNum = val
                this.init()
            }
        }
    })
</script>
</body>
</html>